@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-tl from-gray-900 via-gray-950 to-black text-slate-100;
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}


.ql-toolbar.ql-snow {
  @apply !bg-gray-900 !border !border-gray-700 !rounded-t-md;
}
.ql-container {
    @apply !border !border-gray-700 !border-t-0 !rounded-b-md ;
}

.ql-toolbar .ql-stroke {
    @apply !stroke-white !fill-none ; 
}

.ql-toolbar .ql-fill {
    @apply !fill-white !stroke-none;
}

.ql-toolbar .ql-picker {
    @apply !text-white;
}

.ql-picker-options {
    @apply !bg-gray-900 !border !border-gray-700 !rounded-md;
}

.ql-formats {
    @apply !bg-gray-900 !border !border-gray-700 !rounded-md ;
}


