@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-tl from-gray-900 via-gray-950 to-black text-slate-100;
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}


.ql-toolbar.ql-snow {
  @apply !bg-gray-900 !border !border-gray-700 !rounded-t-md;
}
.ql-container {
    @apply !border !border-gray-700 !border-t-0 !rounded-b-md ;
}

.ql-toolbar .ql-stroke {
    @apply !stroke-white !fill-none ; 
}

.ql-toolbar .ql-fill {
    @apply !fill-white !stroke-none;
}

.ql-toolbar .ql-picker {
    @apply !text-white;
}

.ql-picker-options {
    @apply !bg-gray-900 !border !border-gray-700 !rounded-md;
}

.ql-formats {
    @apply !bg-gray-900 !border !border-gray-700 !rounded-md ;
}

.ql-editor p {
    @apply !text-base !text-slate-200
}

.ql-editor h1 {
    @apply !text-2xl !text-slate-100 !font-bold;
}

.ql-editor h2 {
    @apply !text-xl !text-slate-100 !font-bold;
}

.ql-editor h3 {
    @apply !text-lg !text-slate-100 !font-bold;
}

.ql-editor li {
    @apply !text-base !text-slate-200;
}

.ql-indent-1 {
    @apply !ml-4;
}

.post {
    @apply !text-gray-300;
}

.post h1 {
    @apply !text-2xl !text-slate-300 !font-bold;
}

.post h2 {
    @apply !text-xl !text-slate-300 !font-bold;
}

.post h3 {
    @apply !text-lg !text-slate-300 !font-bold;
}

.post ul {
    @apply !text-base !text-slate-300 list-disc ml-8;
}

.post ol {
    @apply !text-base !text-slate-300 list-decimal ml-8;
}

.post a {
    @apply !text-blue-400;
}



